* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.cardblue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgb(192, 192, 192);
}

img {
  margin: 0.25rem 0 1rem 0;
  width: 50px;
}

h2 {
  font-size: small;
  color: rgb(48, 48, 48);
}
p {
  padding: 0 0.25rem 0 0.25rem;

  color: rgb(105, 105, 105);
}
